.change-password-parent{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.change-password-head{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 1px solid silver;
    background-color: #f0f0f0;
}
.line1x{
    background-color: orangered;
}
.twox{
    background-color: orangered;
    color: white;
}
.change-wrap{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.change-wrap-hold{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
}
.change-pass{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.pass-name{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
    /* background-color: pink; */
}
.pass-inp{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: pink; */
}
.pass-inp input{
    height: 70%;
    padding-left: 2%;
    border: 1px solid silver;
}
.pass-inp button{
    width: 70%;
    height: 70%;
    border-radius: 3px;
    color: white;
    background-color: orangered;
    font-weight: bold;
}
.error-pass{
    width: 48%;
    height: 20px;
    display: flex;
    color: red;
    align-items: center;
    justify-content: flex-end;
    /* background-color: green; */
}
.sucess-message{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.message-hold{
    width: 60%;
    height: 80%;
    display: flex;
    gap: 1%;
    background-color: #edfed0;
}
.sucess-icon{
    width: 10%;
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: green;
    justify-content: flex-end;
    /* background-color: blue; */
}
.talk{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}
.talk h1{
    font-weight: bold;
}
.talk p{
    font-size: 15px;
    color: orangered;
    cursor: pointer;
}
.done{
    background-color: green;
    color: white;
}
/* .talk p:hover{
    border-bottom: 1px solid orangered;
} */

@media screen and (width < 1300px) {
    .change-wrap-hold{
        width: 90%;
    }
    .change-pass{
        width: 100%;
        height: 90px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .pass-name{
        width: 100%;
        height: 40%;
        justify-content: flex-start;
    }
    .pass-inp{
        width: 100%;
        height: 50%;
    }
    .error-pass{
        width: 100%;
    }
    .pass-inp input{
        width: 70%;
        height: 90%;
        border-radius: 2px;
    }
    .pass-inp button{
        width: 70%;
        height: 95%;
        border-radius: 2px;
    }
    .message-hold{
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .sucess-icon{
        display: flex;
        justify-content: center;
    }
    .talk{
        width: 100%;
    }
}