.register-wrapper {
  width: 100%;
  height: max-content;
  font-family: Arial, Helvetica, sans-serif;
}
.register-head {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 5%;
  color: #ff6000;
  /* background-color: blue; */
}
.register-body {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.register-body-hold {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: white;
}
.states {
  width: 44.7%;
  height: 350px;
  position: absolute;
  top: 50px;
  left: 210px;
  background-color: white;
}
.input-hold {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}
.type {
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 13px;
  /* background-color: pink; */
}
.region {
  width: 70%;
  height: 40px;
}
.region-hold {
  width: 65%;
  height: 40px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid silver;
  cursor: pointer;
}
.state-chosen {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 2%;
  font-size: 15px;
  /* background-color: powderblue; */
}
.red {
  color: red;
}
.search-state {
  width: 100%;
  height: 40px;
  border: 1px solid silver;
}
.role-option {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
  /* gap: 20px; */
}
.radio {
  width: auto;
  height: auto;
  display: flex;
  gap: 5px;
}
#emailreg {
  width: 65%;
  height: 40px;
  font-size: 12px;
  display: flex;
  padding-left: 2%;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid silver;
}
#emailreg:focus {
  outline: 1px solid red;
  border: none;
}
#emailreg2 {
  width: 31%;
  height: 40px;
  padding-left: 2%;
  border: 1px solid silver;
}
#emailreg2:focus {
  outline: 1px solid red;
  border: none;
}
.verify {
  width: 65%;
  height: 40px;
  /* font-size: 30px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  /* padding-left: 2%; */
  gap: 30px;
  padding-right: 2%;
  background-color: #e8e8e8;
}
.item-drag {
  width: 15%;
  height: 100%;
  font-size: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  transition: transform 0.1s ease;
  background-color: gray;
}
.item-drag:active {
  cursor: grabbing;
}
.verify-check {
  width: 20px;
  height: 50px;
  /* background-color: gray; */
}
.item-drag p {
  font-size: 14px;
}
.notice {
  font-size: 14px;
  width: 60%;
}
.notice span {
  color: #ff6000;
}
.register-button {
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 10px;
  /* justify-content: center; */
  /* gap: 20px; */
}
.register-button button {
  width: 40%;
  height: 40px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #fa670c;
}
.register-button button:hover {
  background-color: #e65d09;
}
.mobile-res {
  width: 100%;
  height: max-content;
  display: none;
}

@media screen and (width < 1200px) {
  .register-head {
    display: none;
  }
  .register-body {
    display: none;
  }
  .mobile-res {
    display: block;
  }
}
