.identity-parent{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.identify-head{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #f0f0f0;
}
.identify-step{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* background-color: aqua; */
}
.steps{
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
}
.shapes{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: green; */
}
.one{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    background-color: orangered;
}
.line1{
    width: 40%;
    height: 5px;
    background-color: silver;
}
.two{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    background-color: silver;
}
.step-write{
    width: 100%;
    height: 50%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    /* background-color: yellow; */
}
.identity-body{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* background-color: gray; */
}
.identify-warn{
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    /* background-color: yellow; */
}
.identity-input-hold{
    width: 50%;
    height: max-content;
    /* background-color: blue; */
}
.verify-email-hold{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 4.5%;
    /* background-color: wheat; */
}
#select{
    border: 1px solid black;
}
.verification-code{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}
.code-itself{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: yellow; */
}
.code-num{
    width: 30%;
    height: 80%;
    padding-left: 2%;
    border: 1px solid red;
}
.receive-code{
    min-width: 65%;
    height: 80%;
    border-radius: 5px;
    font-size: 12px;
    color: orangered;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border: 1px solid red;
    background-color: #fff1e8;
}
.verification-codeerror{
    width: 100%;
    height: max-content;
    display: flex;
    /* background-color: yellow; */
}
.error-code{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: red;
    /* background-color: yellowgreen; */
}
.submit-code{
    width: 37%;
    height: 80%;
    border-radius: 3px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.code-notice{
    width: 100%;
    height: 500px;
    /* background-color: blue; */
}
.code-notice-write{
    width: 100%;
    height: 210px;
    border: 1px solid orange;
    padding: 20px;
    margin-top: 30px;
    background-color: #fffbed;
}
.code-notice-write h1{
    font-weight: bold;
}
.code-notice-write p{
    font-size: 13px;
}
.identify-mobile-res{
    display: none;
}


@media screen and (width < 1300px) {
    .identify-mobile-res{
        display: block;
        width: 100%;
        padding: 5px;
        height: max-content;
        background-color: white;
    }
    .identify-head{
        display: none;
    }
    .identify-step{
        display: none;
    }
    .identity-body{
        display: none;
    }
}